body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  padding: 0;
}
#container {
  color: -internal-root-color;
  width: 100%;
  height: 100%;
}
#div_title {
  background-color: #fff;
}
#first_div {
  width: 25%;
  background-color: rgb(230, 229, 229);
  height: 100vh;
  float: left;
}
#two {
  width: 75%;
  float: right;
}
#title {
  border: 1px solid black;
  height: 37px;
  padding-left: 20px;
  padding-bottom: 31px;
  padding-top: 0px;
}
.color {
  background-color: rgb(97, 97, 97);
  padding: 2px;
}
#msg_div {
  height: 24px;
  padding-left: 20px;
  padding-bottom: 31px;
  padding-top: 0px;
}
.fond {
  color: white;
  padding: 9px;
}
#inbox_div {
  padding: 2px;
}
.in_box {
  padding-left: 38px;
  padding-bottom: 16px;
  padding-top: 0px;
}
.button_div {
  padding: 2px;
}
.fond_div {
  padding-left: 38px;
  padding-bottom: 16px;
  padding-top: 0px;
}

.img_class {
  padding: 5px;
  padding-top: 21px;
}
.w3-opacity {
  opacity: 0.6;
}

.button_div:hover,
#inbox_div:hover,
.button:hover {
  background-color: rgb(255, 255, 255);
}
.color:hover {
  background-color: black;
}
.button {
  background-color: grey;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
